<script
        type="text/javascript"
        language="javascript">
        document.getElementById("carrinho").focus();
</script>


<div class="cadastro">
	
	<div class="carrinho">
	<p id="notice"><%= notice %></p>


	<h2>Carrinho</h2>
	
	<table >
		<th>
			<tr>
 				<td><p>Quantidade</p></td>
 				<td><p>Item</p></td>
 				<td><p>Preço Unitário</p></td>
 				<td><p>Subtotal</p></td>
 			</tr>
		</th>
		
		<%= render @cart %>
		
		<tr class="total_line precoTotal">
			<hr>
			<td colspan="2"><p>Total</p></td>
			<td class="total_cell"><p>R<%= number_to_currency(@cart.total_price) %></p></td>
		</tr>
 	</table>
 	</div>
</br>

<%# = button_to 'Esvaziar carrinho', @cart, method: :delete, data: {confirm: 'Tem certeza?'}, class: 'btn-simples'	%>

</br>

<%= link_to 'Editar', edit_cart_path(@cart) , class: 'btn-simples' %> |
<%= link_to 'Continuar comprando', store_path , class: 'btn-simples' %>

</div>