<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <h3>Titulo:<h3>
    <p><%= f.text_field :title %><p>
  </div>
  <div class="field">
    <h3>Descrição:</h3>
    <%= f.text_area :description, rows: 8, cols: 50 %>
  </div>
  <div class="field">
    <h3>Caminho da Imagem:<h3>
    <%= f.text_field :image_url, size: 90 %>
  </div>
  <div class="field">
   <h3>Preço:<h3>
    <%= f.text_field :price , size: 90%>
  </div>
  <div class="field">
    <h3>Quantidade em estoque:<h3>
    <%= f.text_field :qtd , size: 90%>
  </div>
  <div class="field">
    <h3>Selecione a categoria </h3>
    <%= f.select :categoria, [["Ebook", 'Ebook'], ["Livro", 'Livro'], ["Revista", 'Revista'] ], size: 50 %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit 'Salvar' , class: 'btn btn-primary'%>
  </div>
</br>
<% end %>
