

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <h1>Titulo:<h1>
    <p><%= f.text_field :title , size: 90%><p>
  </div>
  <div class="field">
    <h1>Descrição:</h1>
    <%= f.text_area :description, rows: 10, cols: 89 %>
  </div>
  <div class="field">
    <h1>Caminho da Imagem:<h1>
    <%= f.text_field :image_url, size: 90 %>
  </div>
  <div class="field">
   <h1>Preço:<h1>
    <%= f.text_field :price , size: 90%>
  </div>
  <div class="field">
    <h1>Quantidade em estoque:<h1>
    <%= f.text_field :qtd , size: 90%>
  </div>
  <div class="field">
    <h1>Selecione a categoria </h1>
    <%= f.select :categoria, [["Ebook", 'Ebook'], ["Livro", 'Livro'], ["Revista", 'Revista'] ], size: 50 %>
  </div>
  </br>
  <div class="actions">
    <%= f.submit 'Salvar' , class: 'btn-simples'%>
  </div>
</br>
<% end %>
