<div class="products">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Bem vindo à Book Store</h1>
<table>
  <tr>

    <td>
      <dl>
      <dt> <p >Produtos</p></dt>
    </dl>
    </td>
    <td>
      <dl>
      <dt> <p >Descrição</p></dt>
    </dl>
    </td>
    <td>
      <dl>
      <dt> <p >Categoria</p></dt>
    </dl>
    </td>
    <td>
      <dl>
      <dt> <p >Preço</p></dt>
    </dl>
    </td>
    <td>
      <dl>
      <dt> <p >Opções</p></dt>
    </dl>
    </td>
  </tr>
  <hr>
  <% @products.each do |product| %>
  <% if (product.qtd > 0) %>
  
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title%></dt>
        <dd><%= product.description %> </dd>
      </dl>
    </td>
    <td>
      <dl>
        <dt><p><%= product.categoria%></p></dt>
      </dl>
    </td>
    <td>
      <dl>
        <dt><p><span class="price">R<%= number_to_currency(product.price) %></span></p><dt>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Detalhar', product , class: 'btn-simples'%> 
      <%= link_to 'Editar', edit_product_path(product), class: 'btn-simples'%> 
      <%= link_to 'Deletar', product, method: :delete,
                  data: {confirm: 'Tem certeza que deseja excluir o item?'}, class: 'btn-simples' %>  
    </td>
  </tr>
  
  <% else %>
    <tr class="list_qtd_vazio">
      <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title%></dt>
        <dd><%= product.description%> </dd>
      </dl>
    </td>
    <td>
      <dl>
       <dt> <p><%= product.categoria%></p></dt>
      </dl>
     </td>
    <td>
      <dl>
        <dt><p><span class="price">R<%= number_to_currency(product.price) %></span></p><dt>
      </dl>
    </td>
    <td class="list_actions">
     <%= link_to 'Detalhar', product, class: 'btn-simples' %>
     <%= link_to 'Editar', edit_product_path(product), class: 'btn-simples'%>
     <%= link_to 'Deletar', product, method: :delete,
                  data: {confirm: 'Tem certeza que deseja deletar o produto?'}, class: 'btn-simples' %> 
    </td>
  </tr>
  <%end %>
  <% end %>
</table>

<br />


<%= link_to 'Cadastrar novo produto.', new_product_path , class: 'btn-simples'%>
</div>