<h3 id="notice"><%= notice %></h3>
<%= stylesheet_link_tag "show", "data-turbolinks-track" => true %>

<h1>Descrição do Produto</h1>

<div id="show">
<h3>
  <strong>Title:</strong>
  <p><%= @product.title %></p>
</h3>

<h3>
  <strong>Description:</strong>
  <p><%= @product.description %></p>
</h3>

<h3>
  <strong>Image url:</strong>
  <p><%= @product.image_url %></p>
</h3>

<h3>
  <strong>price:</strong>
 <p> <%= @product.price %></p>
  
</h3>

<h3>
  <strong>Quantidade:</strong>
  <p><%= @product.qtd %></p>
</h3>

<h3>
  <strong>Categoria:</strong>
  <p><%= @product.categoria %></p>
</h3>

<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_product_path(@product) %> |</button>
<button type="button" class="btn btn-default"><%= link_to 'Back', products_path %></button>

</div>
