<table>
  <tr>
    <td><p >Produtos</p></td>
    <td><p style="margin-left: 90%;">Categoria</p></td>
    <td><p style="margin-left: 90%;">Preço</p></td>
  </tr> 
  <% @products.each do |product| %>
  <% if (product.qtd > 0) %>
  <tr >
    <td>
      <%= image_tag(product.image_url, class: 'list_image', class: 'coluna') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title%></dt>
        <dd><%= truncate(strip_tags(product.description)) %> </dd>
      </dl>
    
    </td>
    <td class="list_description">
      <dl>
       
        <dd><%= truncate(strip_tags(product.categoria)) %> </dd>
      </dl>
    </td>
     <td>
      <span class="price">R<%= number_to_currency(product.price) %></span> <br />
      <button type="button" class="btn-simples" ><%= link_to 'Comprar', line_items_path(product_id: product) %> </button> <br />
      <button type="button" class="btn-simples" ><%= link_to 'Detalhes', product , class: 'list_actions' %></button> <br />
    </td>
  </tr>
  
  <% else %>
    <tr class="list_qtd_vazio">
      <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title%></dt>
        <dd><%= truncate(strip_tags(product.description), lenght:200) %> </dd>
      </dl>
     
    </td>
    <td class="list_description">
      <dl>
       
        <dd><%= truncate(strip_tags(product.categoria), lenght: 50) %> </dd>
      </dl>
    </td>
    <td>
      <span class="price">R<%= number_to_currency(product.price) %></span> <br />
      <button type="button" class="btn-simples" ><%= link_to 'Comprar', line_items_path(product_id: product) %> </button> <br />
      <button type="button" class="btn-simples"><%= link_to 'Detalhes', product , class: 'list_actions' %></button> <br />
    </td>
    </tr>
  <%end %>
  <% end %>
</table>
</div>