<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Bem vindo à Book Store</h1>
<table>
  <% @products.each do |product| %>
  <% if (product.qtd > 0) %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title%></dt>
        <dd><%= truncate(strip_tags(product.description), lenght: 200) %> </dd>
      </dl>
    </td>
    <td class="list_actions">
      <button type="button" class="btn btn-default"><%= link_to 'Mostrar', product %></button> 
    </td>
  </tr>
  
  <% else %>
    <tr class="list_qtd_vazio">
      <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>
    <td class="list_description">
      <dl>
        <dt><%= product.title%></dt>
        <dd><%= truncate(strip_tags(product.description), lenght: 88) %> </dd>
      </dl>
    </td>
    <td class="list_actions">
     <button type="button" class="btn btn-default"><%= link_to 'Mostrar', product %></button> 
    </tr>
  <%end %>
  <% end %>
</table>

<br />


<button type="button" class="btn btn-success"><%= link_to 'Cadastrar novo produto.', new_product_path %></button>
