

 <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

<h3 style="margin-left: 2em;">Bem vindo à Book Store</h3>


  <% @products.each do |product| %>

       <% if (product.qtd > 0) %>
      
        <div class="coluna">
          <h5 ><%= product.title%></h5>
          <%= link_to image_tag(product.image_url), product_path(product), data: {toggle: "modal", target: "#mymodal#{product.id}"}, remote: true, class: 'imagem'%>
          <%= render 'products/modal', { product: product } %>
        </br>
          <p><%= truncate(strip_tags(product.categoria)) %> </p>
          <p class="price">R<%= number_to_currency(product.price) %></p>
          <%= button_to 'Comprar', line_items_path(product_id: product), remote: true, class: 'btn btn-primary', id: "button-#{product.id}" %></br>
        </div>
        <% else %>
          <div class="coluna">
          <h5 ><%= product.title%></h5>
          <%= link_to image_tag(product.image_url),"#mymodal",  data: {toggle: "modal"}, class: 'imagem' %>
          <p><%= truncate(strip_tags(product.categoria)) %> </p>
          <p style="width: 50%; background-color : #FF2222; color: #FFFFFF">Produto Indisponível </p>
          </br>
          <%= link_to 'Avise-me', product , class: 'list_actions', class: 'btn btn-primary' %>
        </div>
      <%end%>

   

   
  
<%end%>



