<div class="products">

 <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

<h1>Bem vindo à Book Store</h1>


  <% @products.each do |product| %>

       <% if (product.qtd > 0) %>
        <div class="coluna">
          <h3 class="entry"><%= product.title%></h3>
          <%= image_tag(product.image_url, class: 'list_image') %>
          <p><%= truncate(strip_tags(product.categoria)) %> </p>
          <p class="price">R<%= number_to_currency(product.price) %></p></br>
          <%= button_to 'Comprar', line_items_path(product_id: product), class: 'btn-simples' %></br>
          <%= link_to 'Detalhes', product , class: 'list_actions', class: 'btn-simples' %>
        </div>
        <% else %>
          <div class="coluna">
          <h3 class="entry"><%= product.title%></h3>
            <%= image_tag(product.image_url, class: 'list_image') %>
          <p><%= truncate(strip_tags(product.categoria)) %> </p>
          <p style="width: 50%; background-color : #FF2222; color: #FFFFFF">Produto Indisponível </p>
          </br>
          <%= link_to 'Detalhes', product , class: 'list_actions', class: 'btn-simples' %>
        </div>
      <%end%>

   
  
<%end%>
</div>
