<!DOCTYPE html>
<html>
<head>
<title>Your Book: Online Store</title>
<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= image_tag("Banner.png") %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="#"><%= image_tag("Home.png") %></a></li>
				<li><a href="#"><%= image_tag("Produtos.png") %></a></li>
				<li><a href="http://www..../news"><%= image_tag("Secoes.png") %></a></li>
				<li><a href="http://www..../contact"><%= image_tag("Contato.png") %></a></li>
				
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>