<!DOCTYPE html>
<html>
<head>
<title>Book Store: Online Store</title>
<%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div class="container clearfix">
		<div class="header">
			<%= image_tag ('Banner.jpg') , alt: 'banner', class: 'banner' %> 
			<nav class="menu">
			<ul>
 				<li><%= link_to 'Home', store_path, class: 'btn-menu' %> </li>
 				<li> <%= link_to 'Produtos', products_path, class: 'btn-menu' %></li>
 				<li ><%= link_to 'Login', products_path, class: 'btn-menu' %>  </li>
 				<li ><%= link_to 'Contato', products_path, class: 'btn-menu' %> </li>
 				<li ><%= link_to 'Localização', products_path, class: 'btn-menu' %> </li>

			</ul>

		</nav>
		</div>

		<div class="conteudo">
			<%= yield %>
		</div>

		<div class="footer">
			<p> ¹Criado por Décio e Thiago - TADS - 3M</p>
		</div>
	
	</div>

	

	
	
	
</body>
</html>
