<!DOCTYPE html>
<html>
<head>
<title>Your Book: Online Store</title>
<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= image_tag("logo.ppg") %>
		<%= @page_title || "YourBook.com" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="index">Inicio</a></li>
				<li><a href="http://www..../faq">Quem Somos</a></li>
				<li><a href="http://www..../news">A livraria</a></li>
				<li><a href="http://www..../contact">Contato</a></li>
				<li><a href="/products">Produtos</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>